/* Basic structure */
html,
body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

#body {
	margin: 90px 230px 0px 10px;
}

#container {
	min-height: 100%;
	position: relative;
}

#header {
	margin: 0px;
	padding: 0px;
}

#main_content {
	padding: 10px;
	padding-bottom: 15em;   /* Height of the footer */
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

#main_content,
#header_tabs,
#footer_content {
	width: 960px;
	margin: auto;
}

div#content { 
        /* so it gets on top of sidebar when overflowing
         * (necessary so wide diff tables are readable) */
        position: relative;
        z-index: 1000;
}

div.editor div#content {
        max-width: none;
        margin-right: 1em;
}


/* Basic classes */

.none { /* to add paragraph spacing to various elements for ttys */
	margin: 0px;
	padding: 0px;
}

.invisible { /* stuff that should appear when this css isn't used */
	margin: 0px;
	border: 0px;
	padding: 0px;
	height: 0px;
	visibility: hidden;
}

.left {
	margin: 10px;
	padding: 0px;
	float: left;
}

.right {
	margin: 10px;
	padding: 0px;
	float: right;
}

.text-center,
.center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.image-left img {
	margin: 0 20px;
	float: left;
}

.image-right img {
	margin: 0 20px;
	float: right;
}

.padding-bottom-sm {
	padding-bottom: 20px;
}

.padding-bottom-lg {
	padding-bottom: 40px;
}

.padding-top-sm {
	padding-top: 20px;
}

.padding-top-lg {
	padding-top: 40px;
}

/* clearfix */

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* Common page elements: Header, footer, etc. */

/* Search thingy */

#search {
	margin: auto;
	text-align: center;
	font-size: 80%;
	margin-top: 1.5em;
}

div#search form {
        background: transparent;
}

input#searchinput {
	border: 1px solid #888888;
	margin-right: 6px;
}

/* News Sections */

p.newsitem {
	clear: left;
	margin-bottom: 20px;
}

p.newsitem img.newsicon {
	float: left;
	margin: 0px 10px 10px 10px;
	border: 0px;
}


/* Generic Classes */

div.code {
	background-color: #e0e0e0;
	color: #000000;
	white-space: pre;
	font-family: monospace;
}


div.in-column {
	margin: 0 0 2em 1em;
	float: right;
	max-width: 12em;
}

hr {
	color: #888;
	background: #888;
	border: 0;
	height: 1px;
	width: 90%;
	text-align: center;
	clear: both;
}


ul.toc {
	padding: 0;
	padding-left: 20px;
	margin-left: 0;
	margin-right: 10px;
	list-style: none;
}

ul.toc li {
	list-style: circle;
}

ul.toc li a {
	text-decoration: none;
	color: black;
}

ul.toc li a:hover {
	text-decoration: underline;
}

/* Global Domain Bar */

#global_domain_bar {
    background: #fff;
    height: 10px;
    -moz-box-shadow: 0 4px 2px -2px #8fb3d9;
    -webkit-box-shadow: 0 4px 2px -2px #8fb3d9;
    box-shadow: 0 4px 2px -2px #8fb3d9;
    position: relative;
}

/* Tab */

#global_domain_bar .tab {
    background: #fff;
    padding: 6px 8px;
    font-size: 12px;
    line-height: 16px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 4px 2px -2px #8fb3d9;
    -webkit-box-shadow: 0 4px 2px -2px #8fb3d9;
    box-shadow: 0 4px 2px -2px #8fb3d9;
    white-space: nowrap;
}
#site_tab {
    float: right;
}
#user_tab {
    float: left;
}
#global_domain_bar .tab a.root {
    color: #555753 !important;
    font-weight: bold;
    text-decoration: none;
    background: #fff url(favicon.png) 0 0 no-repeat;
    padding-left: 18px;
    border-right: 1px solid #ccc;
    padding-right: 6px;
    margin-right: 3px;
}
#global_domain_bar .tab a.root:last-child {
    border-right: 0;
    padding-right: 0;
    margin-right: 0;
}
#global_domain_bar .tab a.root:hover {
    text-decoration: underline;
}


/* page content */

div#content,
p#pageinfo {
	clear: both;
	padding: 1em;
	margin: 1em;
}

p#pageinfo {
	position: relative;
    z-index: 999;
}

div.table-of-contents {
	border: 1px solid #ccc;
	background: #f0f0f0;
	margin: 1em;
	padding: 0.5em;
	float: right;
	font-size: 85%;
	border-radius: 5px;
}

div.table-of-contents p.table-of-contents-heading {
	font-weight: bold;
	margin: 0.5em 1em;
}

div.table-of-contents ol {
	margin: 1em 0.5em 1em 1em;
	padding: 0;
}

div.table-of-contents ol li {
	margin: 0;
	padding: 0;
	margin-left: 1em;
}

div.table-of-contents ol ol {
	margin: 0.5em 0.5em 0.5em 1em;
	padding: 0;
}

/* Navigation Bar for Apps Template */

.navigation-bar ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
	text-align: center;
}

.navigation-bar li {
	display: inline-block;
}

.navigation-bar li a {
	display: block;
	margin: 6px 24px;
 	text-decoration: none;
	border-bottom: none !important;
}

.navigation-bar li a:hover {
	color: #1c4171 !important;
}

/* remove the margin between the images of the Newcomer's progress bar. */
.progress-bar li a {
	margin: 0px;
}

/* Used in Apps Template */

.app-header {
    padding: 30px 0 60px 0;
}

.app-header img {
	margin-left: 240px;
	margin-right: 70px;
	width: 128px;
	height: 128px;
}

.app-header h1 {
	font-size: 34pt;
	font-weight: normal;
	margin: 0px;
	letter-spacing: 5px;
	padding-top: 8px;
}

.app-header h2 {
	font-size: 17pt;
	font-weight: normal;
	margin: 0px;
    padding-top: 0px;
}

.content-style h1 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0px;
	padding-top: 40px;
}

.content-style p {
	font-size:15px;
	color:#555555;
}

/* Classes for mobile views */

@media (max-width: 640px) {
	#main_content,
	#header_tabs,
	#footer_content {
		width: auto;
		margin: auto;
	}

	#message {
		width: auto !important;
	}

	#user_tab {
		margin: 0 4px;
	}

	#site_tab,
	#footer_image {
		display: none;
	}

	.image-left img,
	.image-right img {
		margin: 0px;
		float: none;
	}

	.app-header h1,
	.app-header h2,
	.content-style {
		text-align: center;
	}

	.app-header img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.progress-bar li a {
		margin: 0px;
		width: 50px;
	}
}
