@import url(layout.css);
@import url(style.css);
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,500,600,700');

div.body.editor {
    margin: 0 0 0 0;
}
#pagelocation li {
    float: left;
    margin-right: 1em;
}

/* links */

a.nonexistent, a.badinterwiki {color: gray;}

li p {
        margin: .25em 0;
}

li.gap {
    margin-top: 0.5em;
}

a, img, img.drawing {
    border: 0;
}

dt {
    font-weight: bold;
}

pre, tt {
    padding: 9.5px;
    font-family: courier, monospace;
    border: 1px solid #ccc;
    background: #f5f5f5;
    white-space: pre;
    border-radius: 4px;
    /* begin css 3 or browser specific rules - do not remove!
    see: http://forums.techguy.org/archive/index.php/t-249849.html */
    white-space: pre-wrap;
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    /* end css 3 or browser specific rules */
}

tt {
    padding: 2px;
}

table {
    margin: 0.5em 0;
    border-collapse: collapse;
}

td {
    padding: 0.25em;
    border: 1pt solid #ADB9CC;
}

td p {
    margin: 0;
    padding: 0;
}

td, th {
    border:1px solid transparent;
}

tr:nth-child(even) td {
    background: #f9f9f9;
}

tr:nth-child(odd) td {
    background: #fff;
}

#pagebottom {clear: both;}

/* standard rule ---- */
hr {
    height: 1px;
    background-color: #c0c0c0;
    border: none;
}

/* custom rules ----- to ---------- */
.hr1 {height: 2px;}
.hr2 {height: 3px;}
.hr3 {height: 4px;}
.hr4 {height: 5px;}
.hr5 {height: 6px;}
.hr6 {height: 7px;}

/* Replacement for html 3 u tag */
.u {text-decoration: underline;}

.footnotes ul {
    padding: 0 2em;
    margin: 0 0 1em;
}

.footnotes li {
    list-style: none;
}

.info {
    font-size: 0.85em;
    color: gray;
}

#pageinfo {
    margin-top: 2em;
}

/* eye catchers */

strong.highlight 
{
    background-color: #fce94f;
    padding: 1pt;
}

#credits img {
    vertical-align: middle;
}

/* Recent changes */

.recentchanges p {
    margin: 0.25em;
}

.recentchanges td {
    vertical-align: top;
    border: none;
    border-bottom: 1pt solid #F0ECE6;
    background: #F7F6F2;
}

.rcdaybreak td {
    background: #729fcf;
    border: none;
}

.rcdaybreak td a {
    font-size: 0.88em;
}

.rcicon1, .rcicon2 {
    text-align: center;
}

.rcpagelink {
    width: 33%;
}

.rctime {
    font-size: 0.88em;
    white-space: nowrap;
}

.rceditor {
    white-space: nowrap;
    font-size: 0.88em;
}

.rccomment {
    width: 66%;
    color: gray;
    font-size: 0.88em;
}

.rcrss {
    float: right;
}

.recentchanges[dir="rtl"] .rcrss {
    float: left;
}

/* User Preferences */

.userpref table, .userpref td {
    border: none;
}


/* CSS for new code_area markup used by Colorizer and ParserBase */

div.codearea { /* the div makes the border */
    margin: 0.5em 0;
    padding: 0;
    border: 1pt solid #AEBDCC;
    background-color: #F3F5F7;
    color: black;
}

div.codearea pre { /* the pre has no border and is inside the div */
    margin: 0;
    padding: 10pt;
    border: none;
}

a.codenumbers { /* format of the line numbering link */
    margin: 0 10pt;
    font-size: 0.85em;
    color: gray;
}

/* format of certain syntax spans */
div.codearea pre span.LineNumber {color: gray;}
div.codearea pre span.ID         {color: #000000;}
div.codearea pre span.Operator   {color: #0000C0;}
div.codearea pre span.Char       {color: #004080;}
div.codearea pre span.Comment    {color: #008000;}
div.codearea pre span.Number     {color: #0080C0;}
div.codearea pre span.String     {color: #004080;}
div.codearea pre span.SPChar     {color: #0000C0;}
div.codearea pre span.ResWord    {color: #A00000;}
div.codearea pre span.ConsWord   {color: #008080; font-weight: bold;}
div.codearea pre span.Error      {color: #FF8080; border: solid 1.5pt #FF0000;}
div.codearea pre span.ResWord2   {color: #0080ff; font-weight: bold;}
div.codearea pre span.Special    {color: #0000ff;}
div.codearea pre span.Preprc     {color: #803999;}

/* admonition start */
#content div.caution, 
#content div.important, 
#content div.note, 
#content div.tip, 
#content div.warning {
    border: 1pt solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
    color: black;

    margin: 10pt auto;
    background-repeat: no-repeat;
    background-position: 8px 8px;
    min-height: 64px; /*64=48+8+8 but doesn't work with IE*/
    padding-left: 64px;
}

#content div.caution p, 
#content div.important p, 
#content div.note p, 
#content div.tip p, 
#content div.warning p {
    margin-top: 8px; /*to align text with bg graphic*/
}

#content div.tip { background-image: url("../img/admon-tip.png"); }
#content div.note { background-image: url("../img/admon-note.png"); }
#content div.important { background-image: url("../img/admon-important.png"); }
#content div.caution { background-image: url("../img/admon-caution.png"); }
#content div.warning { background-image: url("../img/admon-warning.png"); }

/* admonition end */
