/**
 * Styles that are not a part of page layout.
 *
 * For example:
 *  Fonts
 *  Sizes
 *  Decoration
 *  Separators
 */

#header_tabs li a:hover {
    background-color: rgba(100%, 100%, 100%, 0.2);
}
#header_tabs li a {
    padding: 16px 4px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.4;
    color: black;
}

div#content a,
p#pageinfo a {
    color: #3465a4;
    border-bottom: 1px dotted #888;
    text-decoration: none;
}

h1.first {
    margin-top: 0;
    padding-top: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #3f3f3f;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
}

#content p {
    line-height: 1.4em;
}

#content img {
    max-width: 100%; /* don't go beyond container width */
}

#content img[align='middle'] { /* centered images */
    display: block;
    margin: 1em auto;
}

li {
    padding-bottom: 0.2em;
}

h1 {
    font-size: 2.4em;
    padding-bottom: 20px;
    font-weight: 200;
}

h2 {
    font-size: 1.5em;
    font-weight: normal;
    color: #4a86cf;
}

h3 {
    font-size: 1.3em;
    font-weight: 300;
}

h4 {
    font-size: 1.0em;
    font-weight: bold;
    color: #808080;
}

/* Anchors */
a img {
    border: 0px;
}

a {
    color: #0000ff;
}

a:visited {
    color: #551a8b;
}

a:active {
    color: #ff0000;
}

#pagelocation {
    color: #fff;
}

/* Headings with image and lines on sides */

.image-header p {
    display: inline-block;
    padding: 0 40px;
    position: relative;
    color: #4A90D8;
    font-size: 25px;
    font-weight: 400;
}

.image-header img {
    vertical-align: middle;
    margin-right: 15px;
}

.image-header p:before,
.image-header p:after {
    background: #4A90D8;
    content: "";
    display: block;
    height: 4px;
    position: absolute;
    top: 45%;
    width: 400%;
}

.image-header p:before {
    right: 100%;
}

.image-header p:after {
    left: 100%;
}
.image-header {
    overflow: hidden;
    text-align: center;
}

/*  lists  */
.list {
    margin-top:.5em;
}
.list tr td {
    padding:.2em;
    text-align:left;
}
.list td label {
    border-bottom:1px dashed #999;
    font-weight:normal;
}
.list th {
    background: #ccf;
    border: 1px solid #000;
    font-weight: bold;
    padding: 2px;
}
.list th a {
    display: block;
    padding:.2em 1.2em .2em .2em;
    text-align: left;
}
.list th a:hover {
    background-color: #fff;
}
.row1 {
    background-color: #eee;
}
.row2 {
    background-color: #ddd;
}
.row1:hover, .row2:hover {
    background-color: #fff;
}

.record th {
    text-align: right;
}

/* buttons */

.btn a {
    display: inline-block;
    padding: 12px 40px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    background-image: none;
    border: 1px dotted transparent;
    border-radius: 4px;
}

.btn-default a {
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom: 1px solid #ccc !important;
}

.btn-default a:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-blue a {
    color: #fff !important;
    background-color: #5698DB;
    border-color: #2e6da4;
}

.btn-blue a:hover {
    color: #fff;
    background-color: #488ed6;
    border-color: #204d74;
}

.btn-green a {
    color: #fff !important;
    background-color: #4e9a06;
    border-color: #4cae4c;
}

.btn-green a:hover {
    color: #fff;
    background-color: #478e04;
    border-color: #398439;
}

/* styling page content */

input.login_small {
 border-style: none;
}

input[type="submit"] {
    cursor: pointer;
    text-transform: none;
    border: 1px solid #d5d0d0;
    border-radius: 2px;
    margin-right: 5px;
    padding: 2px 8px;
    background-color: #eee;
    color: #333;
}

option {
    border: 0px none #ffffff;
}

/* footer */

#footer_container {
    background: #000;
    padding: 1em;
    color: #fff;
}

#header a,
#footer a {
    color: #fff;
    text-decoration: none;
}

#footer a:hover {
    border-bottom: 1px solid #888
}


/* Copyright footer */

#copyright {
    text-align: center;
    font-size: small;
    clear: both;
    margin-top: 2em;
}

div#content div.rcrss a,
div#content td.rcicon1 a,
div#content td.rcicon2 a {
    border: none;
}

div.recentchanges table {
    clear: both;
}

div#editor-help {
    font-size: 90%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0ex 2ex 2ex 2ex;
    background: #f7f6f2;
}

div#preview {
    margin-top: 1em;
}

.strike {
    text-decoration: line-through;
}
